body {
  transition: ease 0.5s;
  background-color: #fff;
}




.animsition-overlay-slide {
  background-color: #fff !important;
}








.nav-container svg:hover, .overlay a:hover, .overlay a:focus, .nav-container svg:focus, .overlay a:focus, .overlay a:focus {
  opacity: 0.3;
  transition: ease 0.5s;
}










img.bw {
  -webkit-filter: grayscale(100%) brightness(110%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) brightness(110%);*/
}



.top-image {
  background: url("../img/hero-img.jpg")no-repeat;
  height: 100%;
  position:relative;
  background-size: cover;
  background-position: inherit;
  /*-webkit-filter: grayscale(100%) brightness(110%); /* Safari 6.0 - 9.0 */
  /*filter: grayscale(100%) brightness(110%);*/
}

.about-top-image {
  background: url("../img/hero-img.jpg")no-repeat;
  height: 100%;
  position:relative;
  background-size: cover;
  background-position: inherit;
  /*-webkit-filter: grayscale(100%) brightness(110%); /* Safari 6.0 - 9.0 */
  /*filter: grayscale(100%) brightness(110%);*/
}

.uni-image {
  background: url("../img/graduation.JPG")no-repeat;
  height: 100%;
  position:relative;
  background-size: cover;
  background-position: inherit;
  /*-webkit-filter: grayscale(100%) brightness(110%); /* Safari 6.0 - 9.0 */
  /*filter: grayscale(100%) brightness(110%);*/
}


div.top-image, div.about-top-image, div.uni-image {
  display: none;
}

div.home-top .myvideo-mask, div.about-top .about-top-myvideo-mask, div.about-uni .about-uni-myvideo-mask {
  overflow: hidden;
  height: 100vh;
}


div.home-top .myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  height: 100vh;
  /* float: right;*/
  /*-webkit-transform: scaleX(-1); */
  /*transform: scaleX(-1); */
  /*-webkit-filter: grayscale(100%) brightness(100%); /* Safari 6.0 - 9.0 */
  /*filter: grayscale(100%) brightness(100%);*/
}


div.home-top, div.about-top {
  height: 100vh;
}

div.home-top .myvideo-mask, div.about-top .about-top-myvideo-mask, div.about-uni .about-uni-myvideo-mask {
  padding: 0;
}

div.about-top .about-top-myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  height: 100vh;
  float: right;
  opacity: 1;
  object-fit: cover;
  /*-webkit-filter: grayscale(100%) brightness(110%); /* Safari 6.0 - 9.0 */
  /*filter: grayscale(100%) brightness(110%);*/
}

div.about-uni .about-uni-myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
  float: right;
  opacity: 1;
  object-fit: cover;
  /*-webkit-filter: grayscale(100%) brightness(110%); /* Safari 6.0 - 9.0 */
  /*filter: grayscale(100%) brightness(110%);*/
}

div.about-top-text, div.about-uni-text {
  bottom: 100px;
  position: absolute;
}

.top-image-container, .about-top-image-container, .uni-image-container{
  width: 100%;
  height: 400px;
  min-height: 200px;
  position: relative;
}

.image-container {
  width: 100%;
  height: 500px;
  min-height: 200px;
  position: relative;
  padding: 0;
}

div.project-image-text {
  bottom: 20px;
  position: absolute;
}


















.experience {
  margin-top: 100px;
  margin-bottom: 100px;
}

.experience h3, .about-uni h3 {
  margin-bottom: 10px;
  padding-bottom: 0;
}

p.date {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}















/* menu overlay */
.overlay {
   height: 100%;
   width: 0;
   position: fixed;
   top: 0;
   left: 0;
   background-color: #fff;
   overflow-x: hidden;
   transition: 0.5s;
   z-index: 5;
}

.overlay-content {
   position: relative;
   width: 100%;
   text-align: center;
}

.overlay-links {
  display: list-item;
  text-align: left;
  margin-top: 10%;
  height: 45px;
  line-height: 45px;
}

.overlay a {
   padding: 12px;
   text-decoration: none;
   font-size: 38px;
   color: #000;
   display: block;
   transition: 0.3s;
   font-family: 'Oswald', sans-serif;
   font-weight: 200;
   letter-spacing: 4px;
   transition: ease 0.5s;
   text-align: center;
}

.overlay .closebtn {
  font-size: 70px;
}

.overlay-nav-container {
  height: 45px;
  line-height: 45px;
  margin-top: 40px;
}

.overlay-nav-container .closebtn {
  position: absolute;
  top: -10px;
  font-size: 70px;
}

.overlay-nav-container a.closebtn svg .st0 {
  fill: #000;
}

@media screen and (max-height: 450px) {
 .overlay a {font-size: 20px}
 .overlay .closebtn {
   font-size: 40px;
   top: 15px;
   right: 35px;
 }
}














nav {
  height: 60px;
  line-height: 60px;
  width: 100%;
  position: fixed;
  z-index: 4;
  background-color: transparent;
}

nav span.burger {
  font-size: 30px;
  cursor: pointer;
  float: right;
  margin-right: 30px;
  line-height: 60px;
  z-index: 10;
}

nav div.title a {
  line-height: 60px;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 30px;
  letter-spacing: 4px;
  color: #000;
  /**width: 100%;**/
  z-index: -1;
}

nav div.title {
  /**width: 100%;**/
  margin-left: 30px;
  text-align: center;
  height: 60px;
  position: absolute;
  z-index: -1;
}














/* fonts */
p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #000;
  opacity: 0.6;
  line-height: 36px;
}

p.big-paragraph {
  font-size: 24px;
}

span.highlight-text {
  font-weight: 400;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  color: #000;
  font-size: 24px;
  letter-spacing: 4px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 34px;
  letter-spacing: 2px;
  line-height: 48px;
}

h3 {
  font-family: 'Work', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  font-size: 14px;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

h4 {
  font-family: 'Work', sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 18px;
  letter-spacing: 2px;
}

h4 .bold {
  font-weight: 500;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #000;
  padding-bottom: 20px;
  opacity: 0.6;
}

.center {
  text-align: center;
}









.skillset {
  margin-top: 100px;
  margin-bottom: 100px;
}

.skillset h1 {
  margin-bottom: 20px;
  margin-top: 50px;
}

.skillset .center {
  text-align: center;
}

.skillset button {
  margin-top: 50px;
  margin-bottom: 50px;
}

.view-all-work {
  margin-bottom: 150px;
}
.view-all-work .center {
  text-align: center;
}
.view-all-work button {
  width: 160px;
}






div.top-text {
  bottom: 100px;
  position: absolute;
}











.home {
  height: 100vh;
}

div.top-text p, div.about-top-text p {
  padding-top: 20px;
  padding-bottom: 20px;
}

div.bio {
  margin-top: 200px;
  margin-bottom: 200px;
}

div.bio p {
  text-align: center;
}

.icon h1 {
  margin-top: 20px;
}

.work {
  text-align: center;
  margin-bottom: 40px;
}

.work h1 {
  margin-bottom: 20px;
}









.primary-button {
  padding: 5px 24px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
  color: #000;
  background-color: transparent;
  border: solid #000 1px;
  border-radius: 0;
  cursor: pointer;
  transition: ease 0.3s;
}


.primary-button:hover {
  background-color: #000;
  color: #fff;
  transition: ease 0.3s;
  text-decoration: none;
}



a.secondary-button {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  color: #000;
  margin-left: 40px;
  transition: ease 0.3s;
}

.outline-button {
  width: 140px;
  height: 40px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
  color: #000;
  background-color: transparent;
  border: solid #000 1px;
  border-radius: 0;
  cursor: pointer;
  transition: ease 0.3s;
}

.outline-button:hover {
  background-color: #000;
  color: #fff;
  transition: ease 0.3s;
}


.pulse-button {
  width: 140px;
  height: 40px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
  color: #000;
  background-color: transparent;
  border: solid #000 1px;
  border-radius: 0;
  cursor: pointer;
  transition: ease 0.3s;
}

.pulse-button {
  position: relative;
  width: 140px;
  height: 40px;
  border: solid #000 1px;
  cursor: pointer;
  transition: ease 0.3s;
}
.pulse-button:focus, .outline-button:focus {
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  outline: none;
}



.top-text button.pluse-button {
  color: #fff;
  border: solid #fff 1px;
}

.pulse-button:hover {
  background-color: #000;
  color: #fff;
  transition: ease 0.3s;
  outline: none;
}








div.top-portfolio {
  padding-top: 180px;
  padding-bottom: 80px;
  text-align: center;
}

div.top-portfolio h1 {
  margin-bottom: 20px;
}

.item img {
  width: 100%;
}

.item {
  text-align: center;
  margin-bottom: 80px;
  transition: ease 0.5s;
}

.item h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.item a:hover, .item a:focus {
  opacity: 0.8;
  transition: ease 0.5s;
  text-decoration: none;
}
















.center-svg {
  text-align: center;
}

.design-icon, .develop-icon, .motion-icon, .research-icon {
  width: 250px;
  text-align: center;
}

.pause, .black-cog, .black-pencil, .mag-handle {
  fill: #e4e4e4;
}

.play, .red-cog-outside, .pencil-rubber, .pencil-point, .mag-glass {
  fill: #000;
}

/* Motion Icon */

.pause {
  transform-origin: 50% 50%;
  transition: transform 0.2s linear;
}

.play {
  transform-origin: 50% 50%;
  transition: transform 0.2s linear;
}

.motion-icon:hover .play {
  transform: scale(1.4);
  transition: transform 0.6s linear;
}

.motion-icon:hover .pause {
  transform: scale(0.6);
  transition: transform 0.6s linear;
}

/* Develop Icon */


.red-cog-center {
  fill: none;
  stroke-width: 16;
  stroke-miterlimit: 10;
}

.red-cog {
  transform-origin: 50% 32.5%;
  transform: rotate(0deg);
  transition: transform 0.5s linear;
  animation-iteration-count: 1;
}

.develop-icon:hover .red-cog {
  transform-origin: 50% 32.5%;
  transform: rotate(135deg);
  transition: transform 1s linear;
  animation-iteration-count: infinite;
}

.black-cog {
  transform-origin: 50% 67.5%;
  transform: rotate(0deg);
  transition: transform 0.5s linear;
  animation-iteration-count: 1;
}

.develop-icon:hover .black-cog {
  transform-origin: 50% 67.5%;
  transform: rotate(-135deg);
  transition: transform 1s linear;
  animation-iteration-count: infinite;
}

/* Design Icon */

.pencil-line {
  fill: none;
  stroke: #000;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.pencil {
  transition: all 0.2s linear;
}

.design-icon:hover .pencil {
  transform: translateY(42px);
  transition: all 0.5s linear;
}

/* Research Icon */

.mag {
  transform-origin: 50% 32.5%;
  transform: rotate(0deg);
  transition: transform 0.5s linear;
  animation-iteration-count: 1;
}

.research-icon:hover .mag {
  transform-origin: 50% 32.5%;
  transform: rotate(-35deg) scale(1.1);
  transition: transform 0.5s linear;
  animation-iteration-count: infinite;
}















.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer p {
  text-align: center;
  margin-top: 14px;
  margin-bottom: 14px;
}

.footer i {
  font-size: 22px;
  margin: 0 12px;
  color: #000
}

.footer i:hover {
  opacity: 0.4;
}












.project ul {
  margin-top: 20px;
}

.project-title {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 80px;
}

.project .project-title h1 {
  margin-bottom: 20px;
}

.project .project-title h2 {
  margin-bottom: 30px;
}

.project .project-title h3 {
  margin-top: 35px;
}

.project .project-title p {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.project img {
  width: 100%;
}

.project .list h1 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.project-title p {
  margin-top: 15px;
  margin-bottom: 15px;
}

.project .buttons {
  margin-top: 30px;
  margin-bottom: 90px;
  text-align: center;
}


.around-prototype, .panicapp-prototype, .binkybear-video {
  text-align: center;
  margin-bottom: 50px;
}

.around-prototype iframe {
  border: solid #e4e4e4 11px;
  width: 320px;
  background-color: #e4e4e4;
  border-radius: 42px;
  margin-top: 50px;
}

.storyboard .row {
  margin-bottom: 30px;
}

.bottom {
  margin-bottom: 30px;
}


a.project-next {
  text-align: center;
  transition: ease 0.4s;
}

a.project-next .container-fluid {
  background-color: #D9D9D9;
  padding-top: 50px;
  padding-bottom: 50px;
}

a.project-next:hover, a.project-next:hover h1, a.project-next:hover h3 {
  text-align: center;
  color: #fff;
}

a.project-next .container-fluid {
    transition: ease 0.4s;
}

a.project-next:hover .container-fluid {
  background-color: #000;
  transition: ease 0.4s;
}

.pad {
  padding-top: 80px;
  padding-bottom: 80px;
}

.top-pad {
  padding-top: 40px;
}

.project-top {
  background: linear-gradient(180deg, #D9D9D9 60%, #fff 40%);
  text-align: center;
}

.project-top img {
  margin-top: 50px;
  height: 65vh;
  width: auto;
  text-align: center;
}

.project-full-img {
  text-align: center;
}
.project-full-img img {
  width: 80%;
}


.project-phase ul li {
  display: inline-block;
  margin: 0 16px;
  font-size: 18px;
}

img.round {
  /*border-radius: 10px;*/
  /*box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.15);*/
}

.project.dark p, .project.dark ul li, .project.dark  h1, .project.dark h2, .project.dark h3, .project.dark a.secondary-button, .project.dark a.primary-button, .project.dark nav, .project.dark nav .title a {
  color: #fff;
}

.project.dark {
  background-color: #222222;
}

.project.dark .project-top {
  background: linear-gradient(180deg, #393939 60%, #222222 40%);
  text-align: center;
}

.project.dark .low-light {
  background-color: #393939;
}

.project.dark a.project-next .container-fluid {
  background-color: #393939;
}

.project.dark a.project-next:hover .container-fluid {
  background-color: #000;
  transition: ease 0.4s;
}

.project .panicapp-mvp {
  background: linear-gradient(90deg, #393939 55%, #222222 45%);
}

.project.dark a.primary-button {
  border: solid #fff 1px;
}

.project.dark a.primary-button:hover {
  background-color: #fff;
  color: #000;
}

.dog-data .demo-container {
  background-color: #ea9a69;
}

.demo-video {
  width: 70vh;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 10px;
}

.demo-video-text {
  bottom: 50px;
  position: absolute;
}

.demo-video-text p {
  margin-bottom: 40px;
}











@media screen and (max-width: 767px) {
  div.home-top .myvideo-mask, div.about-top .about-top-myvideo-mask, div.about-uni .about-uni-myvideo-mask {
    height: 250px;
    padding-right: 0;
    padding-left: 0;
  }
  div.about-top-text, div.about-uni-text, div.project-image-text {
    bottom: 0;
    height: auto;
    position: inherit;
    margin-top: 50px;
  }
  div.about-top {
    margin-bottom: 50px;
  }
  div.top-text {
    top: 300px;
  }
  div.top-image, div.about-top-image, div.uni-image {
    display: block;
  }
  video.myVideo, video.about-top-myVideo, video.about-uni-myVideo {
    display: none;
  }
  .pad {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .item {
    margin-bottom: 40px;
  }
  .footer {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}






@media screen and (max-width: 768px) {
  div.panicapp-text, div.cameo-text, div.around-text, div.icon, div.binkybear-text, div.lomax-text {
    position: inherit;
    top: auto;
    transform: none;
    padding-top: 20px;
    padding-bottom: 100px;
  }

  div.panicapp-text p, div.cameo-text p, div.around-text p, div.binkybear-text p, div.lomax-text p {
    display: none;
  }

  div.panicapp-text button, div.cameo-text button, div.around-text button, div.binkybear-text button, div.lomax-text button {
    margin-top: 20px;
  }

  div.icons{
    display: none;
  }

  div.panicapp, div.cameo, div.around, div.icons, div.binkybear, div.lomax {
    height: auto;
  }

  .panicapp .row, .cameo .row,  .around .row, .icons .row, .binkybear .row, .lomax .row {
    height: auto;
  }

  div.bio {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  div.bio p {
    text-align: left;
  }

  div.bio p {
    font-size: 20px;
  }
}





@media screen and (max-width: 1024px) {
  .demo-video-text {
    position: inherit;
    margin-top: 50px;
  }
  .demo-video {
    width: 70vw;
  }

  img.browser {
    max-width: 80vw;
    height: auto;
  }

  .project-window {
    display: none;
  }
}
