body {
  transition: ease 0.5s;
  background-color: #f3f3f3;
}













.nav-container svg:hover, .overlay a:hover, .overlay a:focus, .nav-container svg:focus, .overlay a:focus, .overlay a:focus {
  opacity: 0.3;
  transition: ease 0.5s;
}














.top-image {
  background: url("../img/turn.JPG")no-repeat;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 100%;
  position:relative;
  background-size: cover;
  background-position: inherit;
  -webkit-filter: grayscale(100%) brightness(110%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) brightness(110%);
}

.about-top-image {
  background: url("../img/event.JPG")no-repeat;
  height: 100%;
  position:relative;
  background-size: cover;
  background-position: inherit;
  -webkit-filter: grayscale(100%) brightness(110%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) brightness(110%);
}

.uni-image {
  background: url("../img/graduation.JPG")no-repeat;
  height: 100%;
  position:relative;
  background-size: cover;
  background-position: inherit;
  -webkit-filter: grayscale(100%) brightness(110%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) brightness(110%);
}

.hope-image {
  background: url("../img/hope.JPG")no-repeat;
  height: 100%;
  position:relative;
  background-size: cover;
  background-position: inherit;
  -webkit-filter: grayscale(100%) brightness(110%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) brightness(110%);
}

div.top-image, div.about-top-image, div.uni-image, div.hope-image {
  display: none;
}

div.home-top .myvideo-mask, div.about-top .about-top-myvideo-mask, div.about-uni .about-uni-myvideo-mask, div.hope .hope-myvideo-mask {
  overflow: hidden;
  height: 100vh;
}

div.home-top .myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
  float: right;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: grayscale(100%) brightness(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) brightness(100%);
}

div.home-top, div.about-top {
  height: 100vh;
}

div.panicapp, div.cameo, div.around, div.bio, div.icons {
  height: 100vh;
}

div.video-bg {
  background-color: #e8e8e8;
}

div.home-top .myvideo-mask, div.about-top .about-top-myvideo-mask, div.about-uni .about-uni-myvideo-mask, div.hope .hope-myvideo-mask {
  padding: 0;
}

div.about-top .about-top-myVideo, div.about-uni .about-uni-myVideo, div.hope .hope-myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
  float: right;
  object-fit: cover;
  -webkit-filter: grayscale(100%) brightness(110%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) brightness(110%);
}

div.about-top-text, div.about-uni-text, div.hope-text {
  bottom: 100px;
  position: absolute;
}

div.about-top-text button {
  margin-top: 16px;
}

.top-image-container, .about-top-image-container, .uni-image-container, .hope-image-container {
  width: 100%;
  height: 400px;
  min-height: 200px;
  position: relative;
}

@media screen and (max-width: 767px) {
  div.home-top .myvideo-mask, div.about-top .about-top-myvideo-mask, div.about-uni .about-uni-myvideo-mask, div.hope .hope-myvideo-mask {
    height: 400px;
    padding-right: 0;
    padding-left: 0;
  }
  div.about-top-text, div.about-uni-text, div.hope-text {
    bottom: 0;
    height: auto;
    position: inherit;
    margin-top: 50px;
  }
  div.about-top {
    margin-bottom: 50px;
  }
  div.top-text {
    top: 430px;
  }
  div.top-image, div.about-top-image, div.uni-image, div.hope-image {
    display: block;
  }
  video.myVideo, video.about-top-myVideo, video.about-uni-myVideo, video.hope-myVideo {
    display: none;
  }
  div.hope-text {
    margin-bottom: 50px;
  }
}











body.about .timeline-heading h4 {
  color: #000;
}

.timeline-about h1 {
  margin-bottom: 30px;
  font-size:
}

.bold-timeline-text {
  font-weight: 600;
}

div.experience {
  margin-bottom: 100px;
}




















/* menu overlay */
.overlay {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 2;
   top: 0;
   left: 0;
   background-color: #000;
   overflow-x: hidden;
   transition: 0.5s;
}

.overlay-content {
   position: relative;
   width: 100%;
   text-align: center;
}

.overlay-links {
  display: list-item;
  text-align: left;
  margin-top: 10%;
  height: 45px;
  line-height: 45px;
}

.overlay a {
   padding: 8px;
   text-decoration: none;
   font-size: 36px;
   color: #fff;
   display: block;
   transition: 0.3s;
   font-family: 'Oswald', sans-serif;
   font-weight: 400;
   letter-spacing: 4px;
   transition: ease 0.5s;
   text-transform: uppercase;
   text-align: center;
}

.overlay .closebtn {
   position: absolute;
   top: 20px;
   float: left;
   text-align: left;
   font-size: 60px;
}

.overlay-nav-container {
  height: 45px;
  line-height: 45px;
  margin-top: 40px;
}

.overlay-nav-container .closebtn {
  position: absolute;
  top: -10px;
  font-size: 70px;
}

.overlay-nav-container a.closebtn svg .st0 {
  fill: #fff;
}

@media screen and (max-height: 450px) {
 .overlay a {font-size: 20px}
 .overlay .closebtn {
   font-size: 40px;
   top: 15px;
   right: 35px;
 }
}













.nav-container {
  height: 45px;
  line-height: 45px;
  position: fixed;
  margin-top: 40px;
  z-index: 1;
}

.nav-button svg, .nav-mail svg {
  height: 45px;
}

.nav-button a {
  padding: 0;
}

.nav-mail {
  text-align: right;
}

.st0{fill:#000;}

.nav-logo {
  text-align: center;
}

.nav-logo a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 4px;
  color: #000;
}

.nav-container svg {
  transition: ease 1s;
}


@media screen and (max-width: 575px) {
  .nav-button {
    position: absolute;
    text-align: right;
  }
  .nav-mail {
    position: absolute;
    text-align: left;
    padding-right: 0;
    float: left;
  }
  .nav-mail svg {
    text-align: right;
    float: right;
    position: absolute;
  }
  .nav-logo a {
    font-size: 28px;
  }
}













/* fonts */
p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

p.big-paragraph {
  font-size: 24px;
}

span.highlight-text {
  font-weight: 600;
}

h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #000;
  font-size: 24px;
  letter-spacing: 4px;
}

h2 {
  font-family: 'Work', sans-serif;
  text-transform: lowercase;
  font-weight: 400;
  color: #bfbfbf;
  font-size: 16px;
  letter-spacing: 2px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  padding-bottom: 20px;
}











.skillset {
  margin-top: 100px;
  margin-bottom: 100px;
}

.skillset h1 {
  margin-bottom: 20px;
  margin-top: 50px;
}

.skillset .center {
  text-align: center;
}

.skillset button {
  margin-top: 50px;
  margin-bottom: 50px;
}







div.top-text {
  bottom: 100px;
  position: absolute;
}

div.top-text h1, div.top-text p  {
  color: #000;
}









.home {
  height: 100vh;
}

.panicapp .row, .cameo .row, .bio .row, .icons .row {
  height: 100vh;
}

div.panicapp-text, div.cameo-text, div.bio p, div.icon {
  position: inherit;
  top: 50%;
  transform: translateY(-50%);
}

div.top-text p, div.panicapp-text p, div.cameo-text p, div.hope-text p {
  padding-top: 20px;
  padding-bottom: 20px;
}

div.panicapp img, div.cameo img {
  width: 100%;
  position: inherit;
  top: 50%;
  transform: translateY(-50%);
}

div.bio p {
  text-align: center;
  color: #000;
}

.icon h1 {
  margin-top: 20px;
}

.cameo img, .panicapp img {
  transition: ease 1s;
}














a.secondary-button {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: lowercase;
  color: #000;
  margin-left: 40px;
}

.outline-button {
  width: 140px;
  height: 40px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: lowercase;
  text-align: center;
  color: #000;
  background-color: transparent;
  border: solid #000 2px;
  border-radius: 0;
  cursor: pointer;
}


.pulse-button {
  width: 140px;
  height: 40px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: lowercase;
  text-align: center;
  color: #000;
  background-color: transparent;
  border: solid #000 2px;
  border-radius: 0;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(#000, .5);
  -webkit-box-shadow: 0 0 0 0 rgba(#000, .5);
}

.pulse-button {
  position: relative;
  width: 140px;
  height: 40px;
  border: solid #000 2px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-animation: pulse 2s infinite cubic-bezier(0.3, 0, 0, 1);
  -moz-animation: pulse 2s infinite cubic-bezier(0.3, 0, 0, 1);
  -ms-animation: pulse 2s infinite cubic-bezier(0.3, 0, 0, 1);
  animation: pulse 2s infinite cubic-bezier(0.3, 0, 0, 1);
}
.pulse-button:hover, .pulse-button:focus {
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  outline: none;
}
@-webkit-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}



.top-text button.pluse-button {
  color: #fff;
  border: solid #fff 2px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
}










div.top-portfolio {
  padding-top: 180px;
  padding-bottom: 80px;
  text-align: center;
}

div.top-portfolio h1 {
  margin-bottom: 20px;
}

.portfolio img {
  width: 100%;
}

.portfolio .item {
  text-align: center;
  margin-bottom: 80px;
  transition: ease 0.5s;
}

.portfolio .item h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.portfolio .item a:hover, .portfolio .item a:focus {
  opacity: 0.8;
  transition: ease 0.5s;
  text-decoration: none;
}
















.center-svg {
  text-align: center;
}

.design-icon, .develop-icon, .motion-icon, .research-icon {
  width: 250px;
  text-align: center;
}

.pause, .black-cog, .black-pencil, .mag-handle {
  fill: #e4e4e4;
}

.play, .red-cog-outside, .pencil-rubber, .pencil-point, .mag-glass {
  fill: #000;
}

/* Motion Icon */

.pause {
  transform-origin: 50% 50%;
  transition: transform 0.2s linear;
}

.play {
  transform-origin: 50% 50%;
  transition: transform 0.2s linear;
}

.motion-icon:hover .play {
  transform: scale(1.4);
  transition: transform 0.6s linear;
}

.motion-icon:hover .pause {
  transform: scale(0.6);
  transition: transform 0.6s linear;
}

/* Develop Icon */


.red-cog-center {
  fill: none;
  stroke-width: 16;
  stroke-miterlimit: 10;
}

.red-cog {
  transform-origin: 50% 32.5%;
  transform: rotate(0deg);
  transition: transform 0.5s linear;
  animation-iteration-count: 1;
}

.develop-icon:hover .red-cog {
  transform-origin: 50% 32.5%;
  transform: rotate(135deg);
  transition: transform 1s linear;
  animation-iteration-count: infinite;
}

.black-cog {
  transform-origin: 50% 67.5%;
  transform: rotate(0deg);
  transition: transform 0.5s linear;
  animation-iteration-count: 1;
}

.develop-icon:hover .black-cog {
  transform-origin: 50% 67.5%;
  transform: rotate(-135deg);
  transition: transform 1s linear;
  animation-iteration-count: infinite;
}

/* Design Icon */

.pencil-line {
  fill: none;
  stroke: #000;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.pencil {
  transition: all 0.2s linear;
}

.design-icon:hover .pencil {
  transform: translateY(42px);
  transition: all 0.5s linear;
}

/* Research Icon */

.mag {
  transform-origin: 50% 32.5%;
  transform: rotate(0deg);
  transition: transform 0.5s linear;
  animation-iteration-count: 1;
}

.research-icon:hover .mag {
  transform-origin: 50% 32.5%;
  transform: rotate(-35deg) scale(1.1);
  transition: transform 0.5s linear;
  animation-iteration-count: infinite;
}















.footer {
  background-color: #000;
  padding-top: 14px;
}

.footer p {
  text-align: center;
  color: #fff;
}















@media screen and (max-width: 768px) {
  .nav-mail svg {
    display: none;
  }

  .nav-container {
    margin-top: 20px;
  }

  .nav-container .nav-logo a {
    font-size: 30px;
  }

  div.panicapp-text, div.cameo-text, div.around-text, div.icon, div.binkybear-text, div.lomax-text {
    position: inherit;
    top: auto;
    transform: none;
    padding-top: 20px;
    padding-bottom: 100px;
  }

  div.panicapp-text p, div.cameo-text p, div.around-text p, div.binkybear-text p, div.lomax-text p {
    display: none;
  }

  div.panicapp-text button, div.cameo-text button, div.around-text button, div.binkybear-text button, div.lomax-text button {
    margin-top: 20px;
  }

  div.icons{
    display: none;
  }

  div.panicapp, div.cameo, div.around, div.bio, div.icons, div.binkybear, div.lomax {
    height: auto;
  }

  .panicapp .row, .cameo .row,  .around .row, .bio .row, .icons .row, .binkybear .row, .lomax .row {
    height: auto;
  }

  div.bio p {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}










.project-breadcrumb {
  text-align: left;
  margin-top: 120px;
}

.project-breadcrumb a, .project-nav a {
  font-family: 'Work', sans-serif;
  text-transform: lowercase;
  font-weight: 400;
  color: #bfbfbf;
  font-size: 16px;
  letter-spacing: 2px;
}

.project-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.project-title h1 {
  margin-bottom: 20px;
}

.project-title h2 {
  margin-bottom: 50px;
}

.project-title p {
  margin-bottom: 50px;
}

.project-window img {
  width: 100%;
}

.project-nav {
  margin-top: 80px;
  margin-bottom: 80px;
}

.project-nav a.next {
  float: right;
}

@media screen and (max-width: 768px) {
  .project-breadcrumb {
    text-align: center;
    margin-top: 100px;
  }
}



.around-prototype, .panicapp-prototype, .binkybear-video {
  text-align: center;
}

.around-prototype iframe {
  border: solid #e4e4e4 11px;
  width: 320px;
  background-color: #e4e4e4;
  border-radius: 42px;
  margin-top: 50px;
}
