body {
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 26px;
  color: #000;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: 'Patrick Hand', helvetica, sans-serif;
  font-size: 65px;
  line-height: 90px;
  color: #000;
  text-align: left;
  margin-bottom: 15px;
}

h2 {
  font-family: 'Patrick Hand', helvetica, sans-serif;
  font-size: 45px;
  line-height: 60px;
  color: #000;
}

h3 {
  font-family: 'Patrick Hand', helvetica, sans-serif;
  font-size: 30px;
  line-height: 50px;
  color: #000;
}

p {
  font-family: helvetica, sans-serif;
  font-weight: 300;
  font-size: 21px;
  line-height: 40px;
  color: #000;
  margin: 0;
}

a.primary-btn {
  padding: 15px 40px;
  background-color: #C8E88E;
  color: #000;
  font-family: 'Patrick Hand', helvetica, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  transition: linear 0.2s;
}

a.primary-btn:hover {
  background-color: #A2F4BD;
  transition: linear 0.2s;
  text-decoration: none;
}

.center {text-align: center;}

.left {text-align: left;}

.right {text-align: right;}

.grey {
  background-color: #F0F0F0;
}

.green {
  background-color: #C8E88E;
}

.teal {
  background-color: #A2F4BD;
}

.yellow {
  background-color: #FFE98F;
}

.grey-text {
  color: #F0F0F0;
}

.green-text {
  color: #C8E88E;
}

.teal-text {
  color: #A2F4BD;
}

.yellow-text {
  color: #FFE98F;
}

.black {
  background-color: #000;
}

.white-text {
  color: #fff;
}

span.bold {
  font-weight: bolder;
}

.pad {
  padding-top: 70px;
  padding-bottom: 70px;
  border-bottom: solid 1px #F0F0F0;
}

.border {
  border-bottom: solid 1px #F0F0F0;
}

.top-pad {
  padding-top: 40px;
}

.bottom-pad {
  padding-bottom: 40px;
}





nav {
  height: 70px;
  line-height: 50px;
  width: 100%;
  position: fixed;
  z-index: 4;
  background-color: #fff;
}

nav .title {
  margin-left: 25px;
  float: left;
  line-height: 70px;
  font-size: 24px;
  font-family: 'Patrick Hand', helvetica, sans-serif;
  font-weight: 400;
  color: #000;
  float: left;
  position: absolute;
  text-align: left;
  z-index: -1;
}

nav .title span {
  font-size: 16px;
}

nav a {
  margin-top: 15px;
  margin-right: 25px;
  padding: 0px 25px;
  line-height: 40px;
  background-color: #C8E88E;
  color: #000;
  font-family: 'Patrick Hand', helvetica, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  transition: linear 0.2s;
  float: right;
}

nav a:hover {
  color: #000;
  background-color: #A2F4BD;
  transition: linear 0.2s;
  text-decoration: none;
}







.parallax-still {
  /* Create the parallax scrolling effect */
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}

.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}

.parallax-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  margin: auto;
}

img.down-arrow {
  padding-top: 10px;
  width: 70px;
  margin-left: -15px;
}



/* landing parallax */
.parallax-1 {
  /* The image used */
  background-image: url("../img/AdobeStock_85258702_Preview.jpeg");

  /* Full height */
  height: 90vh;
}

.parallax-box-1 {
  top: 50%;
  text-align: left;
}

.parallax-1 .parallax-box h1, .parallax-1 .parallax-box p {
  text-shadow: 0px 0px 15px #000;
}

.parallax-1 .parallax-box h1 {
  color: #fff;
  font-size: 90px;
}

.parallax-1 .parallax-box p {
  color: #FFE98F;
  font-size: 35px;
}




.parallax-2 {
  /* The image used */
  background-image: url("../img/AdobeStock_206906006_Preview.jpg");

  /* Full height */
  height: 70vh;
}

.parallax-box-2 {
  top: 20%;
  text-align: left;
}

.parallax-2 .parallax-box h1, .parallax-2 .parallax-box p {
  text-shadow: 0px 0px 10px #fff;
}

.parallax-2 .parallax-box h1 {
  color: #000;
  font-size: 90px;
}

.parallax-2 .parallax-box p {
  color: #000;
  font-size: 28px;
}




.no-pad {
  padding-left: 0;
  padding-right: 0;
}
.parallax-3 {
  /* The image used */
  background-image: url("../img/AdobeStock_112397497_Preview.jpeg");

  /* Full height */
  height: 70vh;
}



.parallax-4 {
  /* The image used */
  background-image: url("../img/AdobeStock_246069541_Preview.jpeg");

  /* Full height */
  height: 70vh;
}





img.icon-sm {
  height: 80px;
  margin-bottom: 20px;
  margin-top: 20px;
}

img.icon-lg {
  height: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
}


.card {
  padding: 20px;
  border: 0;
  border-radius: 0;
  margin-bottom: 20px;
}


.contact h2, .contact p {
  line-height: 60px;
}







.form-button button {
  width: 100px;
  background-color: #C8E88E;
  color: #000;
  font-family: 'Patrick Hand', helvetica, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  transition: linear 0.2s;
  border: 0;
  border-radius: 0;
  margin-bottom: 30px;
}

.form-button button:hover {
  background-color: #A2F4BD;
  color: #000;
  transition: linear 0.2s;
  text-decoration: none;
}

form.contact-form input, form.contact-form textarea {
  background-color: #F0F0F0;
  border-radius: 0;
  border: 0;
}

form.contact-form label {
  font-family: helvetica, sans-serif;
  font-size: 16px;
}

form.contact-form .form-group {
  margin-bottom: 5px;
}


.contact {
  padding-top: 30px;
  padding-bottom: 30px;
}


.copy-right h3 {
  text-align: center;
  font-size: 14px;
  line-height: 45px;
  margin-bottom: 0;
}






@media (max-width: 991px) {
  .parallax-1 .parallax-box h1 {
    color: #fff;
    font-size: 50px;
  }

  .parallax-1 .parallax-box p {
    color: #FFE98F;
    font-size: 18px;
  }
  .parallax-2 .parallax-box h1 {
    color: #000;
    font-size: 50px;
  }

  .parallax-2 .parallax-box p {
    color: #000;
    font-size: 18px;
  }
}





@media (max-width: 768px) {
  h1 {
    font-size: 45px;
    line-height: 60px;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  h3 {
    font-size: 24px;
    line-height: 30px;
  }

  p {
    font-size: 18px;
    line-height: 24px;
  }

  .parallax-2, .parallax-3, .parallax-4 {
    height: 40vh;
  }
}



@media (max-width: 550px) {
  nav {
    height: 80px;
  }
  nav .title {
    font-size: 20px;
    width: 200px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 15px;
  }
  nav a {
    margin-top: 20px;
    margin-right: 15px;
  }
  .parallax-box-1 {
    top: 40%;
  }
}

@media (max-width: 375px) {
  nav .title {
    font-size: 16px;
    width: 150px;
    line-height: 30px;
    margin-top: 10px;
  }
}
